<div class="home">
  <% if (user) { %>
    <div>
      <p>Welcome back, <%= user.username %></p>
      <p>Status: <%= user.status %></p>
      <p>View Messages Below</p>
      <p>Create New Message</p>
    </div>
  <% } else { %> 
    <div class="no-user-content">
      <p><a href="/users/log-in"><button>Log In</button></a> to view messages. %></p>
      <p>Not a member? <a href="/users/sign-up"><button>Sign Up</button></a> now!</p>
    </div>
  <% } %>
</div>