<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <nav>
      <%- include(nav_content) %>
    </nav>
    <div class="content">
      <%- include(block_content) %>
    </div>
  </body>
</html>
