<div class="member-request">
  <% if (user && user.status === "Guest") { %>
    <h1><%= title %></h1>
    <form action="" method="POST">
      <label for="memberCode">Secret Code:</label>
      <input name="memberCode" id="memberCode" type="text">

      <div class="submitOptions">
        <button type="submit">Become a Member</button>
        <a href='/'>cancel</a>
      </div>

      <p>Hint: I am a common food at birthday parties</p>
    </form>

    <% if (errors) { %>
      <ul class="form-errors">
        <h4 class="text-danger">Errors:</h4>
        <% errors.forEach(error => { %>
          <li>- <%= error %></li>
        <% }) %>
      </ul>
    <% } %>
  <% } else if (user && user.status === "Member") { %>
    <div class="bad-access">
      <h1>You are already a Member!</h1>
      <a href="/">Return Home</a>
    </div>
  <% } else { %>
    <div class="bad-access">
      <h1>You must be signed-in to view this page</h1>
      <a href="/">Return Home</a>
    </div>
  <% } %>
</div>