:root {
  --daze-blue: #00B7FF;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

a {
  color: #00B7FF;
}

a:hover {
  color: #0095cf;
}

nav {
  height: 95px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0 4px 8px #0006; 
}

.navLogo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 20px;
}

.navButtons {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navButtons p {
  font-size: 2rem;
  font-weight: 700;
}

.navButtons span {
  font-weight: 400;
  opacity: .6;
}

nav button,
form button,
.no-user-content button {
  border: none;
  background-color: var(--daze-blue);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 120px;
}

nav button:hover,
form button:hover,
.no-user-content button:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

nav button:active,
form button:active,
.no-user-content button:active {
  box-shadow: none;
}

.no-user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-size: 1.5rem;
}

.content {
  padding: 40px;
}

.content h1 {
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  font-weight: 700;
  margin-bottom: 5px;
}

form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 20px;
  width: 400px;
}

.submitOptions {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.sign-up-form,
.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-errors h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
