:root {
  --daze-blue: #00B7FF;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  position: relative;
}

a {
  color: var(--daze-blue);
}

a:hover {
  color: #00597c;
}

nav {
  height: 95px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0 4px 8px #0006; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navLogo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 20px;
}

.navButtons {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navButtons p {
  font-size: 2rem;
  font-weight: 700;
}

.navButtons span {
  font-weight: 400;
  opacity: .6;
}

nav button {
  width: 120px;
}

nav button,
form button,
.home button {
  border: none;
  background-color: var(--daze-blue);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.5rem;
}

nav button:hover,
form button:hover,
.home button:hover {
  cursor: pointer;
  background-color: #0095cf;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

nav button:active,
form button:active,
.home button:active {
  box-shadow: none;
}

.no-user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
  font-size: 1.5rem;
}

.content {
  padding: 40px;
  position: relative;
  margin-top: 95px;
}

.content h1 {
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  font-weight: 700;
  margin-bottom: 5px;
}

form input,
form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 20px;
  width: 400px;
}

form textarea {
  resize: none;
}

.submitOptions {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.sign-up-form,
.log-in-form,
.new-message,
.home,
.member-request,
.delete-message,
.edit-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-errors h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.home-link {
  color: white;
}

.home-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.home {
  gap: 20px;
}

.homeInfo,
.guest-info {
  text-align: center;
}

.guest-info p {
  font-size: 1.4rem;
}

.homeInfo h1 {
  margin-bottom: 0;
}

.new-message {
  display: flex;
  flex-direction: column;
}

.bad-access {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-messages {
  position: relative;
  border: 2px dashed var(--daze-blue);
  border-radius: 12px;
  padding: 50px;
  min-width: 550px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-messages li {
  outline: 1px solid black;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  min-width: 450px;
  background-color: white;
  position: relative;
}

.admin-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 8px;
}

.admin-buttons button {
  padding: 8px;
  font-size: 1rem;
}

.post-info {
  display: flex;
  justify-content: space-between;
  color: var(--daze-blue);
}

.messageUserName {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40%;
}

.home-messages li h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: min(900px, 60vw);
}

.messageUserText {
  padding-left: 20px;
  word-wrap: break-word;
}

.delete-message h2 {
  margin-bottom: 40px;
}

.delete-message button {
  background-color: rgb(173, 13, 13);
}

.delete-message button:hover {
  background-color: rgb(212, 16, 16);
}

.message-info {
  position: relative;
  border: 2px dashed var(--daze-blue);
  border-radius: 12px;
  padding: 20px;
  min-width: 550px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

.message-info div p:first-child {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 5px;
}

#refresh {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#refresh:hover {
  box-shadow: none;
}

#refresh img {
  transition: all 1s;
  width: 30px;
}

#refresh img:hover {
  transform: rotate(180deg);
}

#viewChange {
  align-self: center;
}
